<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Steam Web API Explorer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css" />
        <link href="swapi.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h1>Steam Web Api Explorer
                <small>
                    <a href="#" data-toggle="modal" data-target="#info-modal">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                </small>
            </h1>
            <div class="row">
                <div class="container">
                    <form action="/setapikey" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </span>
                                    <input type="text" class="typeahead" autocomplete="off" form="#"/>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="apikey" class="form-control" id="apikey" value="{{ apikey }}"/>
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-default" value="Set"/>
                                        <a href="http://steamcommunity.com/dev/apikey" class="btn btn-success" target="_blank">
                                            Get your Key
                                            <img src="http://steamcommunity.com/favicon.ico" alt="Steam" />
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="container col-md-3">
                    {% if not apikey %}
                        <div class="alert alert-danger" role="alert">No API Key!</div>
                    {% elseif not apilist.apilist.interfaces %}
                        <div class="alert alert-danger" role="alert">API key is wrong!</div>
                    {% else %}
                        <h3>Interfaces</h3>
                        <div class="panel-group" id="interfaces" role="tablist" aria-multiselectable="true">
                            {% for interface in apilist.apilist.interfaces %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="{{ interface.name ~ '_Heading' }}">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#interfaces" href="#{{ interface.name }}" aria-controls="{{ interface.name }}">
                                                {{ interface.name }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{ interface.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ interface.name ~ '_Heading' }}">
                                        <ul class="list-group">
                                            {% for method in interface.methods %}
                                                <a href="#" class="list-group-item" data-method_data="{{ {'interface':interface.name, 'method':method}|json_encode }}">
                                                       {{ method.name ~ ' (V' ~ method.version ~ ')' }}
                                                </a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="container col-md-9">
                    <div class="row">
                        <ol class="breadcrumb">
                            <span id="http_method">GET</span>
                            <li id="breadcrumb_iface">ISteamWebAPIUtil</li>
                            <li id="breadcrumb_method">GetSupportedAPIList</li>
                            <li id="breadcrumb_version">v1</li>
                        </ol>
                    </div>

                    <div class="row" id="method_form"></div>

                    <div class="row">
                        <div class="container-fluid">
                            <div class="col-xs-3">
                                <button class="btn btn-default" id="send_request" data-loading-text="Loading...">Send request</button>
                                <span id="working" class="badge" style="display:none"><span class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span></span>
                            </div>
                            <div class="col-xs-9">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container-fluid">
                            <pre id="response">
                            </pre>
                        </div>
                    </div>
                </div>
                {% include 'info-modal.html.twig' %}
            </div>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
        <script type="text/javascript">
            apilist = {{ apilist|json_encode|raw }}
        </script>
        <script src="swapi.js" type="text/javascript"></script>
    </body>
</html>
