<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Created by:</div>
                    <div class="panel-body"><a href="mailto:ivan.pepelko@gmail.com?subject=Swapi" target="_blank">Ivan Pepelko</a></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Special thanks:</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://github.com/abodelot/jquery.json-viewer" target="_blank">
                                abodelot/jquery.json-viewer
                            </a>
                        </li>                                        
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Changelog:</div>
                    <div class="panel-body">
                        <pre id="changelog">{{ source("changelog.txt") }}</pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>