{% if parameters %}
    <form id="params_form" class="form-horizontal" action="#" method="post">
        {% for param in parameters %}
            
            <div class="form-group">
                <label for="{{ param.name }}" class="col-sm-2 control-label">{{ param.name }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="{{ param.name }}" name="{{ param.name }}">
                </div>
                <span class="help-block col-sm-1">
                    {% if not param.optional %}
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    {% endif %}
                </span>
                <span class="help-block col-sm-1">{{ param.type }}</span>
                {% if param.description is defined %} 
                    <span class="help-block col-sm-10">{{ param.description }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </form>
{% endif %}