/* general styles */
pre#response {
    padding: 4px 20px;
    max-height: 666px;
}

pre#changelog {
    max-height: 250px;
}

#http_method {
    font-weight: bold;
    color: green;
    padding-right: 12px;
}

/* bootstrap additions&overrides */
.list-group-item {
    word-break: break-all;
}

/* spin animations */
.spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* twitter typeahead styles */
.twitter-typeahead, 
.tt-input {
    width: 100%
}
.tt-input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: table-cell;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    z-index: 2;
}
.tt-input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.tt-menu {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 6px 0;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
.tt-suggestion {
    padding: 2px 12px;
}
.tt-cursor {
    color: #fff;
    background-color: #245580
}